<div class="docs-section" id="blog">
  <h4>Blog</h4>
  <h6>I am still buidling out the backend of my website so I am currently lacking the blog functionality. Enjoy the hint of what is to come.</h6>
  <hr>

  <%= @posts.each do |post| %>
    <h6 class="docs-header"><%= link_to post.title, post %></h6>
    <p><%= post.created_at.strftime("%A, %b %d") %></p>
    <hr>
  <% end %>

</div>
