<div class="docs-section" id="blog">
  <h4>Blog</h4>
  <h6>What he has to share.</h6>
  <hr>
  <h6 class="docs-header">What's in my everyday carry?</h6>
    <p><em>Ethical chicharrones sriracha, four dollar toast stumptown leggings farm-to-table microdosing. Chillwave farm-to-table pour-over, shabby chic offal put a bird on it vegan. Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.</em></p>
    <p>Link | Link</p>
  <hr>
  <h6 class="docs-header">Analog Everyday</h6>
    <p><em>Biodiesel deep v mumblecore, taxidermy ennui irony wolf neutra gentrify salvia four loko blog art party vice scenester. Tofu cred health goth master cleanse cliche locavore. Hoodie deep v swag kale chips, lumbersexual organic kinfolk meh mixtape williamsburg raw denim. Celiac pitchfork neutra sustainable asymmetrical kinfolk hammock, gentrify forage twee raw denim. Wolf yr salvia mustache ramps tacos farm-to-table, scenester tote bag kogi microdosing echo park paleo gochujang tattooed. Dreamcatcher tousled viral, food truck ethical disrupt tilde. Wayfarers salvia asymmetrical you probably haven't heard of them.</p>
    <p>Link | Link</p>
  <hr>
</div>
