<div class="docs-section" id="contact">
  <h4>Contact</h4>
  <p>Want to work with me? Build something cool? Break something? Lets push some boundries together!</p>
  <hr>
  <div class="docs-example docs-example-forms">
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Your email</label>
          <input class="u-full-width" type="email" placeholder="You@YourRadMailbox.com" id="exampleEmailInput">
        </div>
        <div class="six columns">
          <label for="exampleRecipientInput">Headline</label>
          <select class="u-full-width" id="exampleRecipientInput">
            <option value="Option 1">Questions</option>
            <option value="Option 2">Comments</option>
            <option value="Option 3">I am just a bot and I figured I you would like some spam.</option>
          </select>
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width" placeholder="Enter your rad idea &hellip;" id="exampleMessage"></textarea>
      <label class="example-send-yourself-copy">
        <input type="checkbox">
        <span class="label-body">Send a copy to yourself</span>
      </label>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
