<footer class="footer">
  <p>Built on rails. made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://twitter.com/grahamplata">@grahamplata</a> <i class="fa fa-twitter" aria-hidden="true"></i> "RECENT TWEET PLACEHOLDER"</p>
</footer>
