<div class="docs-section" id="intro">
  <h4>Intro</h4>
  <h6>Hi, I'm Graham</h6>
  <hr>
  <h6 class="docs-header">Where am I Currently?</h6>
  <p>Right now I work for Candoris as an Account Executive in Philadelphia, PA. Not long ago I was an Editor for ShuffleBox. Before that, Standard Production.</p>

  <h6 class="docs-header">What am I known for?</h6>
  <p>I am known for my technological prowess and keen eye for design.</p>
<hr>
  <h6 class="docs-header">Longer Biography</h6>


  <div class="row">

    <div class="six columns">
      <p>At my core I am a filmmaker and amateur programmer. I live in Philadelphia Pennsylvania and am currently working with <a href="http://http://www.candoris.com//">Candoris</a> as a Client Warrior. In 2013 I graduated from Temple University with a focus in new media. This allotted me the oppritunity to join up with the talented filmmakers at <a href="http://www.standardproduction.com/">Gabello Studios</a>. and <a href="http://www.standardproduction.com/">Shufflebox Productions</a>. We created and produced content for clients ranging from eBay Enterprises, Rodale health and even Cadillac. My proudest moment so far was being given the oppritunity to DP a joint venture with BMW and Men's Health.</p>
      <p>Caffiene = Content</p>
    </div>
    <div class="six columns">
      <%= image_tag "4.PNG", :width => "100%", :alt => "BMW+MEN' HEALTH"  %>
    </div>

</div>
