<div class="docs-section" id="portfolio">
    <h4>Portfolio</h4>
    <h6>What has he done.</h6>
    <hr>
  <div class="row">
    <div class="tweleve columns">
      <%= video_tag "showreel.mp4", :size => "900x480", :controls => true, :muted => true, :autoplay => true, :loop => true %>
      <p style= "padding-top: 20px;">Please Enjoy my 2016 showreel. Works included: Weyerbacher, Sony Records, DigialTransitions, Lanark Records, BMW and Cadillac</p>
    </div>
  </div>
</div>
