<div class="docs-section" id="portfolio">
    <h4>Portfolio</h4>
    <h6>Checkout my reel.</h6>
    <hr>
  <div class="row">
    <div class="tweleve columns">
      <%= video_tag "showreel.mp4", :size => "900x480", :controls => true, :muted => true, :autoplay => true, :loop => true %>
      </div>
  </div>
</div>
