<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <h6>Checkout my recent work!</h6>
  <hr>
  <%= @projects.each do |project| %>
    <div class="row">
      <div class="six columns">

        <%= image_tag "1.PNG", :width => "100%"  %>
      </div>
      <div class="six columns">
        <h6 class="docs-header"><%= link_to project.title, project %></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <%= link_to project.link %>
      </div>
    </div>
  <% end %>
</div>
