<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <h6>What I am working on</h6>
  <hr>

  <div class="row">
    <div class="six columns">
      <%= image_tag "/assets/1.PNG", :width => "100%"  %>
    </div>
    <div class="six columns">
      <p class="">"Media is our passion, stickers are fun." We are just a bunch of professionals from Oscar Meyer times keeping their youth alive.</p>
      <a class="button button-primary" href="http://www.vimeo.com/baloneykids">Explore</a>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= image_tag "/assets/2.PNG", :width => "100%"  %>
    </div>

    <div class="six columns">
      <p class="">TheGXL was established on February 27th, 2004, as a collaboration of local gaming clans and organizations in the DE, NJ, and PA area. This collaboration of resources results in over 30 years of LAN party experience. TheGXL’s goal is to institute the largest and most exciting LANs on the East Coast. TheGXL has managed many events ranging between 70 and 700 attendees.</p>
      <a class="button button-primary" href="http://www.vimeo.com/baloneykids">Explore</a>
    </div>
  </div>

  <div class="row">
      <div class="six columns">
        <%= image_tag "/assets/3.PNG", :width => "100%"  %>
      </div>
      <div class="six columns">
        <p class="">I am currently in the process of teaching myself Ruby on Rails. A good example of my work is "this" website. It was built entirely in ruby.</p>
      </div>
  </div>

</div>
