<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <h6>What I am working on</h6>
  <hr>
  <div class="row">
    <div class="six columns">
      <img class="value-img" src="http://placehold.it/380x250">
    </div>
    <div class="six columns">
      <p class="spacer">Ethical chicharrones sriracha, four dollar toast stumptown leggings farm-to-table microdosing. Chillwave farm-to-table pour-over, shabby chic offal put a bird on it vegan. Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.entrify forage twee raw denim.</p>
      <p>Link | Link</p>
    </div>
</div>
<div class="row">
  <div class="six columns">
    <p class="spacer">Ethical chicharrones sriracha, four dollar toast stumptown leggings farm-to-table microdosing. Chillwave farm-to-table pour-over, shabby chic offal put a bird on it vegan. Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.entrify forage twee raw denim.</p>
    <p>Link | Link</p>
  </div>
  <div class="six columns">
    <img class="value-img" src="http://placehold.it/380x250">
  </div>
</div>
  <div class="row">
    <div class="six columns">
      <img class="value-img" src="http://placehold.it/380x250">
    </div>
    <div class="six columns">
      <p class="spacer">Ethical chicharrones sriracha, four dollar toast stumptown leggings farm-to-table microdosing. Chillwave farm-to-table pour-over, shabby chic offal put a bird on it vegan. Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.Gochujang occupy biodiesel cray 3 wolf moon, cronut schlitz umami mumblecore chillwave.entrify forage twee raw denim.</p>
      <p>Link | Link</p>
    </div>
  </div>
</div>
