<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="http://twitter.com/grahamplata"><i class="fa fa-twitter navbar-link" aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="http://instagram.com/grahamplata"><i class="fa fa-instagram navbar-link" aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="http://github.com/grahamplata"><i class="fa fa-github navbar-link" aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="http://vimeo.com/grahamplata"><i class="fa fa-vimeo navbar-link" aria-hidden="true"></i></a></li>
      <li class="navbar-item"><a href="https://steamcommunity.com/id/grahamplata"><i class="fa fa-steam navbar-link" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
