<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <h6>I am still buidling out the backend of my website so I am currently lacking the blog functionality. Enjoy the hint of what is to come.</h6>
    <br>
  <% @projects.each do |project| %>
    <h6 class="docs-header u-pull-left"><%= link_to project.title, project %></h6>
      <p class="u-pull-right"><em><%= project.created_at.strftime("%A, %b %d") %></em></p>
      <br>
      <br>
      <p><%= sanitize(project.description[0,420]) + "..." %></p>
      <hr>
  <% end %>
  <%= will_paginate @posts %>
</div>
