<!-- Bits and Pieces -->
<%= render 'partials/header' %>
<%= render 'partials/specialnavtwo' %>
<!-- Content -->
<br>
<h6 class="docs-header">New Project</h6>
<br>

<%= render 'form' %>

<!-- Footers -->
<%= render 'partials/footer' %>
