<!-- Bits and Pieces -->
<%= render 'partials/header' %>
<%= render 'partials/specialnav' %>

<!-- Content -->
<br>
<h6 class="docs-header">Edit Post</h6>
<br>

<%= render 'form' %>
<!-- Footers -->
<%= render 'partials/footer' %>
